<a href="https://colab.research.google.com/github/cisco2053/Gestor-tareas/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#imprimir numeros del 1 al 10.
numero = 1
while numero <= 10:
  print(numero, end=",")
  numero = numero + 1

1,2,3,4,5,6,7,8,9,10,

In [8]:
#lista descendente.
lista_descendente = list(range(10, 0, -1))

print("Lista de números descendentes del 10 al 1:", lista_descendente)

Lista de números descendentes del 10 al 1: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
# Encontrar el número más pequeño en la lista
lista_numeros = [9, 2, 6, 1, 8, 5, 10, 3, 7, 4]

numero_mas_pequeno = min(lista_numeros)
print("El número más pequeño en la lista es:", numero_mas_pequeno)

El número más pequeño en la lista es: 1

In [10]:
# Encontrar el número más grande en la lista
lista_numeros = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
numero_mas_grande = max(lista_numeros)
print("El número más grande en la lista es:", numero_mas_grande)

El número más grande en la lista es: 10

In [12]:
# Contar el número de veces que aparece el número 5 en la lista
lista_numeros = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
veces_numero_5 = lista_numeros.count(5)
print("El número de veces que aparece el número 5 en la lista es:", veces_numero_5)

El número de veces que aparece el número 5 en la lista es: 1

In [14]:
# eliminar el nuero 5 de la lista
lista_numeros = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
while 5 in lista_numeros:
    lista_numeros.remove(5)
print("Lista después de eliminar el número 5:", lista_numeros)

Lista después de eliminar el número 5: [10, 9, 8, 7, 6, 4, 3, 2, 1]

In [16]:
# agregar el número 11 a lista
lista_numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista_numeros.append(11)
print("Lista después de agregar el número 11:", lista_numeros)

Lista después de agregar el número 11: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [17]:
# realizar tupla con las palabras "Hola", "mundo" y "Python"
tupla = ("Hola", "Mundo", "Python")
print(tupla)

('Hola', 'Mundo', 'Python')

In [19]:
# ordenar la tupla en orden alfabetico
tupla = ('Python','Hola','Mundo')

tupla_ordenada = tuple(sorted(tupla))
print("Tupla ordenada alfabéticamente:", tupla_ordenada)

Tupla ordenada alfabéticamente: ('Hola', 'Mundo', 'Python')

In [20]:
# obtener la primera palabra en la tupla
tupla = ('Hola', 'Mundo', 'Python')

primera_palabra = tupla[0]

print("La primera palabra en la tupla es:", primera_palabra)

La primera palabra en la tupla es: Hola

In [21]:
# obtener la última palabra en la tupla
tupla = ('Hola', 'Mundo', 'Python')

ultima_palabra = tupla[-1]

print("La última palabra en la tupla es:", ultima_palabra)

La última palabra en la tupla es: Python

In [22]:
# encontrar el número de palabras en la tupla
tupla = ('Hola', 'Mundo', 'Python')

numero_palabras = len(tupla)

print("numero de palabras en la tupla es: ", numero_palabras)

numero de palabras en la tupla es:  3

In [23]:
#eliminar la palabra mundo de la tupla
tupla = ('Hola', 'Mundo', 'Python')

nueva_tupla = tuple(word for word in tupla if word != 'Mundo')

print("esta tupla no contiene la palabra 'Mundo':", nueva_tupla)

esta tupla no contiene la palabra 'Mundo': ('Hola', 'Python')

In [24]:
#agregar la palabra hola
tupla = ('Hola', 'Mundo', 'Python')
nueva_tupla = tupla + ('Hola',)
print("esta tupla agrega la palabra 'Hola':", nueva_tupla)

esta tupla agrega la palabra 'Hola': ('Hola', 'Mundo', 'Python', 'Hola')

In [25]:
# realizar un conjunto que tenga los números del 1 al 10
conjunto = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

print(conjunto)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [26]:
#agregar el número 11 al conjunto
conjunto = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}


conjunto.add(11)


print(conjunto)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [27]:
# Eliminar el número 5 del conjunto si está presente
conjunto = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

conjunto.discard(5)

print(conjunto)

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [28]:
# Contar el número de elementos en el conjunto
conjunto = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}


numero_elementos = len(conjunto)


print("El número de elementos en el conjunto es:", numero_elementos)

El número de elementos en el conjunto es: 10

In [29]:
# verificar si el número 11 está en el conjunto
conjunto = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
if 11 in conjunto:
    print("El número 11 está en el conjunto.")
else:
    print("El número 11 no está en el conjunto.")

El número 11 no está en el conjunto.

In [30]:
# crear un conjunto que tenga las palabras "Hola", "mundo" y "Python"
conjunto = {"Hola", "mundo", "Python"}
print(conjunto)

{'Python', 'Hola', 'mundo'}

In [31]:
# Verificar si la palabra "Hola" está en el conjunto
conjunto = {"Hola", "mundo", "Python"}
if "Hola" in conjunto:
    print("La palabra 'Hola' está en el conjunto.")
else:
    print("La palabra 'Hola' no está en el conjunto.")

La palabra 'Hola' está en el conjunto.

In [33]:
# Verificar si la palabra "mundo" está en el conjunto
conjunto = {"Hola", "mundo", "Python"}
if "mundo" in conjunto:
    print("La palabra 'mundo' está en el conjunto.")
else:
    print("La palabra 'mundo' no está en el conjunto.")

La palabra 'mundo' está en el conjunto.

In [35]:
# crear un diccionario que asigne los nombres de los días de la semana con números correspondientes
dias_semana = {
    "lunes": 1,
    "martes": 2,
    "miércoles": 3,
    "jueves": 4,
    "viernes": 5,
    "sábado": 6,
    "domingo": 7
}


print(dias_semana)

{'lunes': 1, 'martes': 2, 'miércoles': 3, 'jueves': 4, 'viernes': 5, 'sábado': 6, 'domingo': 7}

In [36]:
# Obtener el número del día de la semana "lunes"
dias_semana = {
    "lunes": 1,
    "martes": 2,
    "miércoles": 3,
    "jueves": 4,
    "viernes": 5,
    "sábado": 6,
    "domingo": 7
}
numero_lunes = dias_semana["lunes"]
print("El número del día de la semana 'lunes' es:", numero_lunes)

El número del día de la semana 'lunes' es: 1

In [37]:
# obtener el día de la semana al cual corresponda el número 2
dias_semana = {
    1: "lunes",
    2: "martes",
    3: "miércoles",
    4: "jueves",
    5: "viernes",
    6: "sábado",
    7: "domingo"
}


dia_numero_2 = dias_semana[2]


print("el número 2 es el dia:", dia_numero_2)

el número 2 es el dia: martes

In [38]:
# Eliminar el día de la semana "lunes" del diccionario
dias_semana = {
    "lunes": 1,
    "martes": 2,
    "miércoles": 3,
    "jueves": 4,
    "viernes": 5,
    "sábado": 6,
    "domingo": 7
}
dias_semana.pop("lunes")

print(dias_semana)

{'martes': 2, 'miércoles': 3, 'jueves': 4, 'viernes': 5, 'sábado': 6, 'domingo': 7}